*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/home";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/featured-products";
@import "layouts/latest-news";
@import "layouts/header-secondary";

body {

    //fonts: Poppins - 400regular, 600semi-bold, 700bold
    //       Rubik   - 400regular, 700bold
    font-family: "Rubik", sans-serif;

    h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size:23px;
    }

    div.container{
        max-width: 1520px;
        width: 90%;
        padding-right:0;
        padding-left:0;
        margin-right:0;
        padding-right:0;
        margin:auto;
    }

    a.button, a.wp-block.button__link, button{
        background-color: $main-color;
        border-radius: 5px;
        padding:17px 48px;
        transition: background 0.4s ease;
        color:white;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 18px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.72);
        outline:none;
        border:none;

        &:hover{
            text-decoration: none;
            background:$main-color-button-hover;
        }

        &.transparent{
            background:transparent;
            border: 1px solid white;
            box-shadow:none;
            transition: background 0.4s ease, border 0.2s ease;
        }
    }
}