*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/home";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/featured-products";
@import "layouts/latest-news";
@import "layouts/header-secondary";
@import "layouts/archive-product";

body {

    form{
        div.checkbox-and-label{
            display:flex;
            align-items:center;
            margin-bottom:10px;

            label{
                margin-bottom:0;
            }

            input[type="checkbox"]{
                width:25px;
                height:25px;
                border-radius:10px;
                margin-right:8px;
            }
        }


        div.label-and-input{
            display:flex;
            flex-wrap:wrap;
            margin-bottom:10px;

            label{
                flex-basis:100%;
                margin-bottom:5px;
            }

            input{
                padding:14px 5px;
                border-radius:5px;
                outline:none;
                box-shadow:none;
                border:none;
                border: 1px solid $main-color;
            }
        }
    }

    //fonts: Poppins - 400regular, 600semi-bold, 700bold
    //       Rubik   - 400regular, 700bold
    font-family: "Rubik", sans-serif;

    &.noScroll{
        overflow:hidden;
    }

    h1{
        font-weight:700;
        font-size:35px;
        margin-bottom: 30px;
    }

    h2{
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size:25px;
    }

    div.container{
        max-width: 1520px;
        width: 90%;
        padding-right:0;
        padding-left:0;
        margin-right:0;
        padding-right:0;
        margin:auto;
    }

    div.article-text p{
        margin-bottom: 1.9rem;
        line-height: 1.9rem;
    }

    a.button, a.wp-block.button__link, button{
        background-color: $main-color;
        border-radius: 5px;
        padding:17px 48px;
        transition: background 0.4s ease;
        color:white;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 18px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.72);
        outline:none;
        border:none;

        &:hover{
            text-decoration: none;
            background:$main-color-button-hover;
        }

        &.transparent{
            background:transparent;
            border: 1px solid white;
            box-shadow:none;
            transition: background 0.4s ease, border 0.2s ease;
        }
    }
}


body section.featured-products + div.wrap.container:first-of-type{
    margin-top:40px;
    margin-bottom: 40px;

    div.content{
        main article.two-columns{
            display:flex;
            flex-wrap:wrap;

            @include min-834{
                flex-wrap:nowrap;
                justify-content:space-between;
            }

            div.article-text{
                flex-basis:100%;

                @include min-834{
                    flex-basis:calc(50% - 10px);
                }

                a.button{
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    padding:18px 0;
                    width:200px;

                    svg{
                        margin-left:8px;
                    }
                }
            }

            div.article-image{
                flex-basis:100%;
                margin-top:30px;

                @include min-834{
                    flex-basis:calc(50% - 10px);
                }

                img{
                    max-width: 450px;
                    width:100%;
                    height:auto;
                    border-radius:10px;
                    box-shadow:0 0 12px rgba(0,0,0,0.5);
                    display:block;
                    margin:auto;

                    @include min-1120{
                        max-width:none;
                    }
                }
            }
        }
    }
}