/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$main-color: #E6B318;
$main-color-button-hover: #BB8D00;
$secondary-color: #1C46B0;
$secondary-color-button-hover: #1C46B0;

$footer-background-color: #1C1C1C;

//Breakpoints
@mixin min-335 {@media screen and (min-width: 335px){@content;}}
@mixin min-375 {@media screen and (min-width: 375px){@content;}}
@mixin min-450 {@media screen and (min-width: 450px){@content;}}
@mixin min-600 {@media screen and (min-width: 600px){@content;}}
@mixin min-768 {@media screen and (min-width: 768px){@content;}}
@mixin min-834 {@media screen and (min-width: 834px){@content;}}
@mixin min-850 {@media screen and (min-width: 850px){@content;}}
@mixin min-1024 {@media screen and (min-width: 1024px){@content;}}
@mixin min-1100 {@media screen and (min-width: 1100px){@content;}}
@mixin min-1200 {@media screen and (min-width: 1200px){@content;}}
@mixin min-1251 {@media screen and (min-width: 1251px){@content;}}
@mixin min-1300 {@media screen and (min-width: 1300px){@content;}}
@mixin min-1378 {@media screen and (min-width: 1378px){@content;}}
@mixin min-1500 {@media screen and (min-width: 1500px){@content;}}
@mixin min-1689 {@media screen and (min-width: 1689px){@content;}}
@mixin min-1900 {@media screen and (min-width: 1900px){@content;}}
@mixin min-2176 {@media screen and (min-width: 2176px){@content;}}